<layouttype>thumbnail</layouttype>


<channels>


<channel>
<name>[B][COLOR white] RAW (2022) [/COLOR][COLOR red]7PLUS[/COLOR][/B]</name>
<thumbnail>https://www.themoviedb.org/t/p/original/z14GjBNXQw5kfHjSnrBSJ9HdvHm.jpg</thumbnail>
<externallink>https://raw.githubusercontent.com/Napalm-spec/Thanos-Team/master/WWE/RAW/RAW</externallink>
<fanart>https://www.themoviedb.org/t/p/original/aqTylK4Ai5bD1Rkqmc1MI39lCon.jpg</fanart>
<info>[COLOR lime]Sinopse:[/COLOR] [COLOR white]A WWE Network é um serviço de streaming da WWE, que foi lançado em 24 de fevereiro de 2014.[/COLOR]
[COLOR lime]»»[/COLOR][COLOR white] DUBLADO [/COLOR][COLOR lime]««[/COLOR]
[COLOR lime]Género:[/COLOR][COLOR white] Luta livre Wrestling[/COLOR]
[COLOR lime]Ano:[/COLOR][COLOR white] (2022)[/COLOR] 

</info>
</channel>

<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<


<channel>
<name>[B][COLOR white] SMACKDOWN (2022) [/COLOR][COLOR red]7PLUS[/COLOR][/B]</name>
<thumbnail>https://www.themoviedb.org/t/p/original/6gTx0y6bjfPWNBHtPcR19YsMBCA.jpg</thumbnail>
<externallink>https://raw.githubusercontent.com/Napalm-spec/Thanos-Team/master/WWE/SMACKDOWN/SMACKDOWN</externallink>
<fanart>https://www.themoviedb.org/t/p/original/pDKRbh4alaIOHBHjJrP9SKGbUqW.jpg</fanart>
<info>[COLOR lime]Sinopse:[/COLOR] [COLOR white]A WWE Network é um serviço de streaming da WWE, que foi lançado em 24 de fevereiro de 2014.[/COLOR]
[COLOR lime]»»[/COLOR][COLOR white] DUBLADO [/COLOR][COLOR lime]««[/COLOR]
[COLOR lime]Género:[/COLOR][COLOR white] Luta livre Wrestling[/COLOR]
[COLOR lime]Ano:[/COLOR][COLOR white] (2022)[/COLOR] 

</info>
</channel>

<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

<channel>
<name>[B][COLOR white] Premium WWE (2022) [/COLOR][COLOR red]7PLUS[/COLOR][/B]</name>
<thumbnail>https://wallpapercave.com/wp/wp9127629.jpg</thumbnail>
<externallink>https://raw.githubusercontent.com/Napalm-spec/Thanos-Team/master/WWE/Premium.WWE/2022</externallink>
<fanart>https://wallpapercave.com/wp/wp9127783.jpg</fanart>
<info>[COLOR lime]Sinopse:[/COLOR] [COLOR white]A WWE Network é um serviço de streaming da WWE, que foi lançado em 24 de fevereiro de 2014.[/COLOR]
[COLOR lime]»»[/COLOR][COLOR white] DUBLADO [/COLOR][COLOR lime]««[/COLOR]
[COLOR lime]Género:[/COLOR][COLOR white] Luta livre Wrestling[/COLOR]
[COLOR lime]Ano:[/COLOR][COLOR white] (2022)[/COLOR] 

</info>
</channel>

<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<


</channels>
