<item>
<title>[B][COLOR white] RAW JAN. 03, (2022) [/COLOR][COLOR red]7PLUS[/COLOR][/B]</title>
<link>http://maximus44.antaeus.feralhosting.com/media/WWE.NETWORK/RAW.JAN.03.2022.mp4</link>
<subtitle>http://napalm64.aigaion.feralhosting.com/media/Base/THANOS.srt</subtitle>
<thumbnail>http://maximus44.antaeus.feralhosting.com/media/colored/Wrestling.jpg</thumbnail>
<fanart>https://www.themoviedb.org/t/p/original/aqTylK4Ai5bD1Rkqmc1MI39lCon.jpg</fanart>
<info>[COLOR lime]Sinopse:[/COLOR] [COLOR white]O novo campeão da WWE Brock Lesnar dirige-se ao seu triunfo do Dia 1. Big E, Seth Rollins, Kevin Owens e Bobby Lashley colidem para uma oportunidade de título na WWE. Damian Priest defende o Campeonato dos Estados Unidos contra Dolph Ziggler. AJ Styles colide com o antigo parceiro da equipa de marcação Omos.[/COLOR] 
[COLOR lime]»»[/COLOR][COLOR white] DUBLADO [/COLOR][COLOR lime]««[/COLOR]
[COLOR lime]Género:[/COLOR][COLOR white] Aventura, Fantasia, Drama[/COLOR]
[COLOR lime]Ano:[/COLOR][COLOR white] (2022) [/COLOR]
[COLOR lime]Duração:[/COLOR][COLOR white] 2h 06m[/COLOR]
</info>

</item>

<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
