<item>
<title>[B][COLOR white] RAW, JAN, 24, (2022) [/COLOR][COLOR red]7PLUS[/COLOR][/B]</title>
<link>http://maximus44.antaeus.feralhosting.com/media/WWE.NETWORK/RAW.JAN.24.2022.mp4</link>
<subtitle>http://napalm64.aigaion.feralhosting.com/media/Base/THANOS.srt</subtitle>
<thumbnail>http://maximus44.antaeus.feralhosting.com/media/colored/Wrestling.jpg</thumbnail>
<fanart>https://www.themoviedb.org/t/p/original/aqTylK4Ai5bD1Rkqmc1MI39lCon.jpg</fanart>
<info>[COLOR lime]Sinopse:[/COLOR] [COLOR white]O Campeão WWE Brock Lesnar e o seu adversário Bobby Lashley encontram-se dentro do ringue para um Royal Rumble Weigh-in. O Miz lança uma extravagância de aniversário para Maryse. Raw Tag Team Champions Alpha Academy e RK-Bro do combate num Desafio Académico.[/COLOR] 
[COLOR lime]»»[/COLOR][COLOR white] DUBLADO [/COLOR][COLOR lime]««[/COLOR]
[COLOR lime]Género:[/COLOR][COLOR white] Luta livre Wrestling[/COLOR]
[COLOR lime]Ano:[/COLOR][COLOR white] (2022) [/COLOR]
[COLOR lime]Duração:[/COLOR][COLOR white] 2h 07m[/COLOR]
</info>

</item>

<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

<item>
<title>[B][COLOR white] RAW, JAN, 17, (2022) [/COLOR][COLOR red]7PLUS[/COLOR][/B]</title>
<link>http://maximus44.antaeus.feralhosting.com/media/WWE.NETWORK/RAW.JAN.17.2022.mp4</link>
<subtitle>http://napalm64.aigaion.feralhosting.com/media/Base/THANOS.srt</subtitle>
<thumbnail>http://maximus44.antaeus.feralhosting.com/media/colored/Wrestling.jpg</thumbnail>
<fanart>https://www.themoviedb.org/t/p/original/aqTylK4Ai5bD1Rkqmc1MI39lCon.jpg</fanart>
<info>[COLOR lime]Sinopse:[/COLOR] [COLOR white]Bobby Lashley luta contra Seth "Freakin" Rollins. Becky Lynch, Campeã das Mulheres Raw, junta forças com a sua desafiante Doudrop, a Royal Rumble, para enfrentar Liv Morgan & Bianca Belair. A Academia Alfa dá início ao seu reinado no Campeonato da Equipa Raw Tag com uma cerimónia de graduação.[/COLOR] 
[COLOR lime]»»[/COLOR][COLOR white] DUBLADO [/COLOR][COLOR lime]««[/COLOR]
[COLOR lime]Género:[/COLOR][COLOR white] Luta livre Wrestling[/COLOR]
[COLOR lime]Ano:[/COLOR][COLOR white] (2022) [/COLOR]
[COLOR lime]Duração:[/COLOR][COLOR white] 2h 07m[/COLOR]
</info>

</item>

<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

<item>
<title>[B][COLOR white] RAW, JAN, 10, (2022) [/COLOR][COLOR red]7PLUS[/COLOR][/B]</title>
<link>http://maximus44.antaeus.feralhosting.com/media/WWE.NETWORK/RAW.JAN.10.2022.mp4</link>
<subtitle>http://napalm64.aigaion.feralhosting.com/media/Base/THANOS.srt</subtitle>
<thumbnail>http://maximus44.antaeus.feralhosting.com/media/colored/Wrestling.jpg</thumbnail>
<fanart>https://www.themoviedb.org/t/p/original/aqTylK4Ai5bD1Rkqmc1MI39lCon.jpg</fanart>
<info>[COLOR lime]Sinopse:[/COLOR] [COLOR white]Bianca Belair, Liv Morgan e Doudrop lutam numa Tripla Ameaça para determinar a próxima adversária para a Campeã das Mulheres Crutas Becky Lynch. RK-Bro defende o Campeonato da Equipa Raw Tag contra a Academia Alpha. A campeã da WWE Brock Lesnar enfrenta o seu desafiante Bobby Lashley, o seu Royal Rumble.[/COLOR] 
[COLOR lime]»»[/COLOR][COLOR white] DUBLADO [/COLOR][COLOR lime]««[/COLOR]
[COLOR lime]Género:[/COLOR][COLOR white] Luta livre Wrestling[/COLOR]
[COLOR lime]Ano:[/COLOR][COLOR white] (2022) [/COLOR]
[COLOR lime]Duração:[/COLOR][COLOR white] 2h 07m[/COLOR]
</info>

</item>

<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

<item>
<title>[B][COLOR white] RAW, JAN, 03, (2022) [/COLOR][COLOR red]7PLUS[/COLOR][/B]</title>
<link>http://maximus44.antaeus.feralhosting.com/media/WWE.NETWORK/RAW.JAN.03.2022.mp4</link>
<subtitle>http://napalm64.aigaion.feralhosting.com/media/Base/THANOS.srt</subtitle>
<thumbnail>http://maximus44.antaeus.feralhosting.com/media/colored/Wrestling.jpg</thumbnail>
<fanart>https://www.themoviedb.org/t/p/original/aqTylK4Ai5bD1Rkqmc1MI39lCon.jpg</fanart>
<info>[COLOR lime]Sinopse:[/COLOR] [COLOR white]O novo campeão da WWE Brock Lesnar dirige-se ao seu triunfo do Dia 1. Big E, Seth Rollins, Kevin Owens e Bobby Lashley colidem para uma oportunidade de título na WWE. Damian Priest defende o Campeonato dos Estados Unidos contra Dolph Ziggler. AJ Styles colide com o antigo parceiro da equipa de marcação Omos.[/COLOR] 
[COLOR lime]»»[/COLOR][COLOR white] DUBLADO [/COLOR][COLOR lime]««[/COLOR]
[COLOR lime]Género:[/COLOR][COLOR white] Luta livre Wrestling[/COLOR]
[COLOR lime]Ano:[/COLOR][COLOR white] (2022) [/COLOR]
[COLOR lime]Duração:[/COLOR][COLOR white] 2h 06m[/COLOR]
</info>

</item>

<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
